body {
	background-color : #fff;
	color : #000;
	font-family : Helvetica, Arial, sans-serif;
	margin : 0px;
	margin-top : 20px;
}

div.container {
	width : 900px;
	margin-left : auto;
	margin-right : auto;
	color : #000;
	background-color : transparent;
}

div.primary_header {
	margin-bottom: 6px;
	width : 900px;
	background-image : url(/media/images/Banner_tmp.png);
	background-repeat : no-repeat;
	background-position : left bottom;
	height : 110px;
	padding-left : 297px;
}

div.top_menu {
	width : 900px;
	background-color : #ccc;
	height : 25px;
	margin : 0px;
	font-size : 8pt;
	font-weight : bold;
}

div.top_menu ul {
	margin : 0px;
	padding-left : 0px;
	
}
div.top_menu ul li {
	list-style : none;
	float : left;
	list-style-position : outside;
	list-style-type : none;
	padding-top : 5px;
	background-color : #eee;
}

div.top_menu img {
	float : left;
	padding-left : 20px;
	padding-right : 5px;
}

div.main_area {
	width : 900px;
	height: 200px;
}

div.main_area_left { 
	width : 620px;
	height: 240px;	
	padding-top : 10px;
	border : none;
	float: left;
	background-image : url(/media/images/mainSquare.png);
}
div.main_area_boxes {
	width : 280px;
	height: 240px;
	float : right;
}
div.main_area_box1 {
	background-image : url(/media/images/yellowSquare.png);
	width: 260px;
	height: 80px;
	margin-left: 4px;
	margin-bottom: 6px;
	margin-top: .5px;
}
div.main_area_box2 {
	background-image : url(/media/images/redSquare.png);
	width: 260px;
	height: 80px;
	margin-left: 4px;
	margin-bottom: 6px;
}
div.main_area_box3 {
	background-image : url(/media/images/pinkSquare.png);
	width: 260px;
	height: 80px;
	margin-left: 4px;
}