{% extends 'base.html' %}

{% block title %}{{ survey.title }}{% endblock %}

{% block content %}
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% else %}
		<div class="contentcontainer">
			<div class="content">
				<h1>{{ survey.title }}</h1>
				<form action="/surveys/{{ survey.id }}/submit/" method="post">
					{% include 'survey/forloop.html' %}
					<br />
					<input type="submit" value="Submit your answers" />
					<p>Please note that the submit button is final, and you cannot edit your answers after you click it.</p>
				</form>
			</div>
			{% include 'sidebar.html' %}
			<div class="clearfooter"></div>
		</div>
	{% endif %}
{% endblock %}
