<select name="q{{ forloop.counter }}">
	{% if question.option1 %}
		<option value="option1">{{ question.option1 }}</option>
	{% endif %}
	{% if question.option2 %}
		<option value="option2">{{ question.option2 }}</option>
	{% endif %}
	{% if question.option3 %}
		<option value="option3">{{ question.option3 }}</option>
	{% endif %}
	{% if question.option4 %}
		<option value="option4">{{ question.option4 }}</option>
	{% endif %}
	{% if question.option5 %}
		<option value="option5">{{ question.option5 }}</option>
	{% endif %}
</select>
