			<div class="primary_header">
				<div class="icon_menu">
					<ul>
						<li></li>
						<li><img src="/media/images/button_wiki.jpg" alt="wiki"></li>
						<li><img src="/media/images/button_putty.jpg" alt="putty"></li>
						<li><img src="/media/images/button_email.jpg" alt="email"></li>
						<li><img src="/media/images/button_chat.jpg" alt="chat"></li>
						</li>
					</ul>
				</div>
				<div class = "top_menu">
					<ul id="sddm">
						<!-- Community-->
				    	<li><a href="#" 
				        	onmouseover="mopen('m1')" 
				        	onmouseout="mclosetime()">Services</a>
				        	<div id="m1" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="#">Info</a>
				        		<a href="#">coding</a>
				        		<a href="#">database</a>
				        		<a href="#">download</a>
				        		<a href="#">download</a>
				        		<a href="#">download</a>
				        		<a href="#">download</a>
				
				        	</div>
				    	</li>
						<!-- Community-->
				    	<li><a href="#" 
				        	onmouseover="mopen('m2')" 
				        	onmouseout="mclosetime()">Community</a>
				        	<div id="m2" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="#">links</a>
				        		<a href="#">members</a>
				        		<a href="#">news</a>
				        		<a href="#">wiki</a>
				        	</div>
				    	</li>
						<!-- Events-->
				    	<li><a href="#" 
				        	onmouseover="mopen('m3')" 
				        	onmouseout="mclosetime()">Events</a>
				        	<div id="m3" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="#">contact</a>
				        		<a href="#">events</a>
				        		<a href="#">gallery</a>
				        		<a href="#">posters</a>
				        	</div>
				    	</li>						
						<!-- Help-->
				    	<li><a href="#" 
				        	onmouseover="mopen('m4')" 
				        	onmouseout="mclosetime()">Help</a>
				        	<div id="m4" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="#">help & FAG</a>
				        		<a href="#">exams</a>
				        		<a href="#">joining</a>
				        		<a href="#">logging in</a>
				        		<a href="#">online tutorials</a>
				        	</div>
				    	</li>
						<!-- About-->
						<li><a href="#" 
				        	onmouseover="mopen('m5')" 
				        	onmouseout="mclosetime()">About</a>
				        	<div id="m5" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="#">redbrick</a>
				        		<a href="#">constitution</a>
				        		<a href="#">contact</a>
				        		<a href="#">regulations</a>
				        		<a href="#">standing orders</a>
				        		<a href="#">violations</a>
				        		<a href="#">why join?</a>
				        		<a href="#">Who keeps <br>redbrick going?</a>
				        	</div>
				    	</li>
					</ul>
				<div style="clear:both"></div>	
			</div>
		</diV>	

			
			