			<div class="primary_header">
				<div class="icon_menu">
					<ul>
						<li></li>
						<li><img src="/media/images/button_wiki.jpg" alt="wiki"></li>
						<li><img src="/media/images/button_putty.jpg" alt="putty"></li>
						<li><img src="/media/images/button_email.jpg" alt="email"></li>
						<li><img src="/media/images/button_chat.jpg" alt="chat"></li>
						</li>
					</ul>
				</div>
				<div class="top_menu">
					<ul>
						<li>Services</li><img src="/media/images/downarrow.png" alt="Services">
						<li>Community</li><img src="/media/images/downarrow.png" alt="Community">
						<li>Events</li><img src="/media/images/downarrow.png" alt="Events">
						<li>About</li><img src="/media/images/downarrow.png" alt="About">
						<li>News</li><img src="/media/images/downarrow.png" alt="News">		
						<li>Home</li><img src="/media/images/downarrow.png" alt="Home">
					</ul>
				</div>	
			</div>	

			
			