<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}: Redbrick</title>
        <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen,projection" />
  		<script type="text/javascript" src="/media/js/menuStuff.js"></script>
    </head>
    <body>
    	<div class="container">
			<!-- Banner, icon menu, menu-->
				<div class="primary_header">
					<div class="logo">
						<a href="/"><img  style="border : 0px;" src="/media/images/redbrick_bg_white.png" width="300px" height="62px" alt="Redbrick, DCU Networking Society" /></a>
					</div>
					<div class = "menus">
						<div class="icon_menu">
							<a href="https://webchat.redbrick.dcu.ie/"><img src="/media/images/webchat.png" alt="wiki" style="padding-bottom : 3px" /></a>
							<a href="https://webmail.redbrick.dcu.ie/"><img src="/media/images/webmail.png" alt="putty" style="padding-bottom : 3px" /></a>
							<a href="http://gallery.redbrick.dcu.ie/"><img src="/media/images/gallery.png" alt="email" /></a>
							<a href="#"><img src="/media/images/putty.png" alt="chat" style="padding-bottom : 3px" /></a>
							<a href="http://wiki.redbrick.dcu.ie/"><img src="/media/images/wiki.png" alt="wiki" style="padding-bottom : 3px" /></a>
						</div>
					</div>
				</div>
				<div class = "top_menu">
					<ul id="sddm">
						<!-- services -->
				    	<li><a class="header" href="#" 
				        	onmouseover="mopen('m1')" 
				        	onmouseout="mclosetime()"><img id="downarrow_m1" src="/media/images/arrow_white.png" height="29px" width="15px" alt="arrow" /> <img src="/media/images/services_text.png" height="29px" width="56px" alt="Services" /></a>
				        	<div id="m1" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
								<a href = "">info</a>
								<a href = "">coding</a>
								<a href = "">databases</a>
								<a href = "">downloads</a>
								<a href = "">hosting</a>
				        	</div>
				    	</li>
						<!-- Community-->
				    	<li><a class="header" href="#" 
				        	onmouseover="mopen('m2')" 
				        	onmouseout="mclosetime()"><img id="downarrow_m2" src="/media/images/arrow_white.png" height="29px" width="15px" alt="arrow" /> <img src="/media/images/community_text.png" alt="Community" height="29px" width="81px" /></a>
				        	<div id="m2" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="/community/links">links</a>
				        		<a href="/community/members">members</a>
				        		<a href="/community/news">news</a>
				        		<a href="/community/wiki">wiki</a>
				        	</div>
				    	</li>
						<!-- Events-->
				    	<li><a class="header" href="#" 
				        	onmouseover="mopen('m3')" 
				        	onmouseout="mclosetime()"><img id="downarrow_m3" src="/media/images/arrow_white.png" alt="arrow" height="29px" width="15px" /> <img src="/media/images/events_text.png" width="43px" height="29px" alt="Events" /></a>
				        	<div class="header" id="m3" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="/events/contact">contact</a>
				        		<a href="/events/">events</a>
				        		<a href="http://gallery.redbrick.dcu.ie/events">gallery</a>
				        		<a href="http://wiki.redbrick.dcu.ie/mw/Posters">posters</a>
				        	</div>
				    	</li>						
						<!-- Help-->
				    	<li><a class="header" href="#" 
				        	onmouseover="mopen('m4')" 
				        	onmouseout="mclosetime()"><img id="downarrow_m4" src="/media/images/arrow_white.png" alt="arrow" height="29px" width="15px" /> <img src="/media/images/help_text.png" width="33px" height="29px" alt="Help" /></a>
				        	<div id="m4" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="/help/">help &amp; FAG</a>
				        		<a href="/help/exams">exams</a>
				        		<a href="/help/joining">joining</a>
				        		<a href="/help/loggin_in">logging in</a>
				        		<a href="http://wiki.redbrick.dcu.ie/mw/Helpdesk">online tutorials</a>
				        	</div>
				    	</li>
						<!-- About-->
						<li><a class="header" href="#" 
				        	onmouseover="mopen('m5')" 
				        	onmouseout="mclosetime()"><img id="downarrow_m5" src="/media/images/arrow_white.png" alt="arrow" height="29px" width="15px" /> <img src="/media/images/about_text.png" width="42px" height="29px" alt="About" /></a>
				        	<div id="m5" 
				            	onmouseover="mcancelclosetime()" 
				            	onmouseout="mclosetime()">
				        		<a href="/about/redbrick">redbrick</a>
				        		<a href="/about/constitution">constitution</a>
				        		<a href="/about/contact">contact</a>
				        		<a href="/about/regulations">regulations</a>
				        		<a href="/about/standing_orders">standing orders</a>
				        		<a href="/about/violations">violations</a>
				        		<a href="/about/why_join">why join?</a>
				        		<a href="/about/who_keeps_redbrick_going">Who keeps <br />redbrick going?</a>
				        	</div>
				    	</li>
					</ul>
				<div style="clear:both"></div>	
			</div>	


								
			{% block content %}{% endblock %}
			
			<!-- Footer -->		
			<div class = "footer">
				<div class = "links">
					<h3>About</h3>
					<ul>
						<li><a href = "">redbrick</a></li>
					    <li><a href = "">constitution</a></li>
					    <li><a href = "">contact</a></li>
					    <li><a href = "">Who Keeps redbrick going?</a></li>
					</ul>
				</div>
				<div class = "links">
					<h3 class = "blank"> -</h3>
					<ul>
					    <li><a href = "">regulations</a></li>
					    <li><a href = "">standing orders</a></li>
					    <li><a href = "">violations</a></li>
					    <li><a href = "">why join?</a></li>
					</ul>

				</div>
				<div class = "links">
					<h3>Help</h3>
					<ul>
						<li><a href = "/help/">help & FAQ</a></li>
						<li><a href = "/help/">exams</a></li>
						<li><a href = "/help/">joining</a></li>
						<li><a href = "/help/">logging in</a></li>
						<li><a href = "/help/">online tutorials</a></li>
					</ul>
				</div>
				<div class = "links">
					<h3>Events</h3>
					<ul>
						<li><a href = "/events/contact">contact</a></li>
					    <li><a href = "/events/events">events</a></li>
					    <li><a href = "/events/gallery">gallery</a></li>
					    <li><a href = "/events/posters">posters</a></li>
					</ul>
				</div>
				<div class = "links">
					<h3>Community</h3>
					<ul>
						<li><a href = "/Community/links">links</a></li>
						<li><a href = "/Community/members">members</a></li>
						<li><a href = "/Community/news">news</a></li>
						<li><a href = "/Community/wiki">wiki</a></li>
					</ul>
				</div>
				<div class = "links">
					<h3>Services</h3>
					<ul>
						<li><a href = "/services/info">info</a></li>
						<li><a href = "/services/coding">coding</a></li>
						<li><a href = "/services/databases">databases</a></li>
						<li><a href = "/services/downloads">downloads</a></li>
						<li><a href = "/services/hosting">hosting</a></li>
					</ul>
				</div>
				<div class = "links">
					<h3 class = "blank"> -</h3>
					<ul>
						<li><a href = "/services/mercurial">Mercurial Hosting</a></li>
						<li><a href = "/services/vm">Virtual Machines</a></li>
						<li><a href = "/services/mailing_lists">mailing lists</a></li>
					</ul>
				</div>
			</div>				
    	</div>
    </body>
</html>

