<div class = "footer">
	<div class = "links">
		<h3>About</h3>
		<ul>
			<li>redbrick</li>
		    <li> constitution</li>
		    <li> contact</li>
		    <li> Who Keeps redbrick going?</li>
		<ul>
	</div>
	<div class = "links">
		<h3 class = "blank"> -</h3>
		<ul>
		   <li> regulations</li>
		    <li> standing orders</li>
		    <li>violations</li>
		    <li> why join?</li>
		</ul>
		
	</div>
	<div class = "links">
		<h3>Help</h3>
		<ul>
			<li>Help & FAQ</li>
			<li>Exams</li>
			<li>Joining</li>
			<li>Logging in</li>
			<li>Online tutorials</li>
		</ul>
	</div>
	<div class = "links">
		<h3>Events</h3>
		<ul>
			<li> contact</li>
		    <li> events</li>
		    <li> posters</li>
		</ul>
	</div>
	<div class = "links">
		<h3>Community</h3>
		<ul>
			<li>links</li>
			<li>members</li>
			<li>news</li>
			<li>wiki</li>
		</ul>
	</div>
	<div class = "links">
		<h3>Services</h3>
		<ul>
			<li>info</li>
			<li>coding</li>
			<li>databases</li>
			<li>downloads</li>
			<li>hosting</li>
		</ul>
	</div>
	<div class = "links">
		<h3 class = "blank"> -</h3>
		<ul>
			<li>Sub version repository</li>
			<li>Virtual Machines</li>
			<li>mailing lists</li>
			
		</ul>
	</div>
</div>