<div class = "footer">
	<div class = "links">
		<h3>About</h3>
		<ul>
			<li><a href = "">redbrick</a></li>
		    <li><a href = "">constitution</a></li>
		    <li><a href = "">contact</a></li>
		    <li><a href = "">Who Keeps redbrick going?</a></li>
		<ul>
	</div>
	<div class = "links">
		<h3 class = "blank"> -</h3>
		<ul>
		    <li><a href = "">regulations</a></li>
		    <li><a href = "">standing orders</a></li>
		    <li><a href = "">violations</a></li>
		    <li><a href = "">why join?</a></li>
		</ul>
		
	</div>
	<div class = "links">
		<h3>Help</h3>
		<ul>
			<li><a href = "">help & FAQ</a></li>
			<li><a href = "">exams</a></li>
			<li><a href = "">joining</a></li>
			<li><a href = "">logging in</a></li>
			<li><a href = "">online tutorials</a></li>
		</ul>
	</div>
	<div class = "links">
		<h3>Events</h3>
		<ul>
			<li><a href = "">contact</a></li>
		    <li><a href = "">events</a></li>
		    <li><a href = "">gallery</a></li>
		    <li><a href = "">posters</a></li>
		</ul>
	</div>
	<div class = "links">
		<h3>Community</h3>
		<ul>
			<li><a href = "">links</a></li>
			<li><a href = "">members</a></li>
			<li><a href = "">news</a></li>
			<li><a href = "">wiki</a></li>
		</ul>
	</div>
	<div class = "links">
		<h3>Services</h3>
		<ul>
			<li><a href = "">info</a></li>
			<li><a href = "">coding</a></li>
			<li><a href = "">databases</a></li>
			<li><a href = "">downloads</a></li>
			<li><a href = "">hosting</a></li>
		</ul>
	</div>
	<div class = "links">
		<h3 class = "blank"> -</h3>
		<ul>
			<li><a href = "">Mercurial Hosting</a></li>
			<li><a href = "">Virtual Machines</a></li>
			<li><a href = "">mailing lists</a></li>
			
		</ul>
	</div>
</div>