				<div class="main_area">
					<!--	<div class="top_menu"><ul><img src="/media/images/downarrow.png" alt="Home"><li>Home</li><img src="/media/images/downarrow.png" alt="Home"><li>About</li><img src="/media/images/downarrow.png" alt="Home"><li>Events</li><img src="/media/images/downarrow.png" alt="Home"><li>Community</li><img src="/media/images/downarrow.png" alt="Home"><li>Services</li></ul></div> -->
					<div class="main_area_left">
					</div>	
					<div class ="main_area_boxes">
						<div class = "main_area_box1">
						</div>
						<div class = "main_area_box2">
						</div>
						<div class = "main_area_box3">
						</div>
					</div>
				</div>